<div class="panel-heading">
    {{!-- <h2 class="panel-title">About Me</h2> --}}
    <h2>About Me</h2>
</div>
<div class="panel-body">
    <img class="portrait" src="/assets/images/portrait.jpg">
    <p>
        Lorem ipsum dolor amet cardigan chia tumeric listicle. Letterpress pop-up church-key, 8-bit lumbersexual tumeric franzen
        shaman ennui. Schlitz godard waistcoat, fashion axe copper mug bitters kale chips lomo VHS quinoa shabby chic yuccie
        truffaut. Meh freegan 3 wolf moon shaman sriracha XOXO blog readymade.
    </p>

    <p>
        Aesthetic vexillologist lo-fi, blog tousled jianbing kombucha post-ironic lumbersexual pitchfork man braid +1 gluten-free
        disrupt. Art party vape green juice, fam dreamcatcher venmo shaman irony tote bag four loko retro roof party af.
        Skateboard keytar swag next level, drinking vinegar readymade hella edison bulb echo park palo santo salvia subway
        tile. Man braid tacos crucifix hammock shaman cronut.

    </p>
    <p>
        Microdosing leggings mustache before they sold out. Vape gastropub VHS letterpress jean shorts, intelligentsia irony flexitarian
        quinoa paleo scenester hexagon portland hoodie. Affogato franzen trust fund, listicle ramps organic plaid brooklyn.
        Retro locavore vape franzen lomo, fingerstache tote bag lumbersexual bespoke tbh post-ironic. Jianbing tacos asymmetrical,
        blog vinyl scenester squid poutine cred messenger bag occupy. Quinoa pok pok semiotics, post-ironic normcore portland
        tilde butcher irony franzen keffiyeh ugh poke listicle gentrify. 90's pinterest trust fund health goth poke palo
        santo art party.
    </p>
</div>