html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }

.sidebar-list {
    font-size: 5rem;
}

.sidebar-list a {
    color: black;
}

.container .text-muted {
    margin: 20px 0;
  }

.work {
    /* Positioning */
    position: relative;
    float: left;
  
    /* Box-model */
    max-width: 100%;
    margin: 20px 0 25px;
    overflow: hidden;
    height: 23rem;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    /* Box-model */
    width: 100%;
  
    /* Visual */
    border: 0 none;
  
    /* Misc */
    opacity: 0.8;
  }
  
  .work h3 {
    /* Positioning */
    position: absolute;
    bottom: 20px;
    width: 100%;
  
    /* Box-model */
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
  
    /* Typography */
  
    color: #fff;
    text-align: center;
    background: black;
  
    /* Visual */
    border-bottom: 0;
  }